@model GroupDto

@section MainStyle{


    <!-- bradcam_area_start -->
    <div class="bradcam_area breadcam_bg overlay2">
        <h3>Group Details</h3>
    </div>
    <!-- bradcam_area_end -->

}

<div style="text-align:center">
    <button class=" w-100 btn btn-outline-primary">Group</button>
  
    <dl class="row">
        <dt class="col-sm-6 btn btn-primary" style="margin-top: 6%;">
            @Html.DisplayNameFor(model => model.CodeJion)
        </dt>
        <dd class="col-sm-6" style="margin-top: 6%;">
            @Html.DisplayFor(model => model.CodeJion)
        </dd>

        <dt class="col-sm-6 btn btn-primary" style="margin-top: 6%;">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-6" style="margin-top: 6%;">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-6" style="margin-top: 6%;">
            <a class="boxed_btn_orange" asp-action="Index" asp-controller="UserGroups" asp-route-CodeJoin="@Model.CodeJion">AllJoiners</a>
        </dt>
        <dd class="col-sm-6" style="margin-top: 6%;">
            <a class="boxed_btn_orange" asp-action="Index" asp-controller="Quizes" asp-route-Groupid="@Model.Id">All Quizes</a>
        </dd>
    </dl>
</div>




